body {
  margin: 0 auto;
  padding-bottom: 36px;
}

.nav-bar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #daf0f1;
  /* padding: 0 100px 0 100px; */
  margin: 0 auto;
}

.sidebar {
  display: none;
}

.sidebar-trigger-button {
  display: none;
}

@media (max-width: 590px) {
  .nav-bar {
    display: none;
  }

  .sidebar-trigger-button {
    cursor: pointer;
    display: block;
    position: sticky;
    background-color: #daf0f1;
    top: 0;
    left: 0;
    height: 45px;
    padding: 8px 0 0 8px;
    width: 45px;
    z-index: 1;
  }

  .hamburger-button {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
  }

  /* The sidebar menu */
  .sidebar {
    display: block;
    height: 100%;
    /* 100% Full-height */
    width: 0;
    /* 0 width - change this with JavaScript */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Stay on top */
    top: 0;
    left: 0;
    background-color: #daf0f1;
    /* Black*/
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 60px;
    /* Place content 60px from the top */
    transition: 0.5s;
    /* 0.5 second transition effect to slide in the sidebar */
  }

  .mascot {
    margin-left: 25px;
  }

  /* The sidebar links */
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    font-family: "Open Sans";
    color: #818181;
    display: block;
    transition: 0.3s;
  }

  /* When you mouse over the navigation links, change their color */
  .sidebar a:hover {
    color: #64bfc4;
  }

  /* Position and style the close button (top right corner) */
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

  main {
    padding-top: 20px;
  }
}

.logo {
  display: flex;
  align-items: center;
}

.mascot {
  width: 92px;
  height: 92px;
  margin-right: 2px;
  filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.3));
}

h3 {
  font-family: "Candal";
  font-weight: bolder;
  font-size: 35px;
  line-height: 30px;
  overflow-wrap: break-word;
  color: #4FBDC1;
}

.about-btn {
  padding: 10px 25px 10px 25px;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: bold;
  background-color: #4FBDC1;
  color: white;
  border-radius: 8px 8px 8px 8px;
  transition: all 0.5s;
  text-decoration: none;
}

.about-btn:hover {
  margin: 0 5px 10px 0;
  background-color: #99d9db;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
}

main {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  font-family: "Open Sans";
  font-size: 29px;
  font-weight: 500;
  text-align: center;
}

@media (max-width: 590px) {
  .container {
    max-width: 300px !important;
    width: 100%;
    margin: 20px auto;
    background-color: red;
    position: relative;
    border-radius: 10px 10px 10px 10px;
  }
}

.container {
  max-width: 400px;
  width: 100%;
  margin: 20px auto;
  padding: 15px 15px 15px 15px;
  position: relative;
  background-color: #daf0f1;
  border-radius: 10px 10px 10px 10px;
}

fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

label {
  font-family: "Open Sans";
  font-size: 14px;
}

input,
textarea {
  width: 93.6%;
  border: 1px solid #CCC;
  background: #FFF;
  margin: 5px 0 5px;
  padding: 10px;
  font-family: "Open Sans";
  border-radius: 8px 8px 8px 8px;
}

#contact input[type="text"]:hover,
#contact input[type="email"]:hover,
#contact input[type="tel"]:hover,
#contact input[type="url"]:hover,
#contact textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #AAA;
  resize: vertical;
}

#contact textarea {
  height: 100px;
  max-width: 100%;
  resize: none;
}

#contact button[type="submit"] {
  cursor: pointer;
  width: 100%;
  height: 40px;
  border: none;
  background: #4FBDC1;
  color: #FFF;
  margin: 0 0 5px;
  padding: 10px;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: bold;
  transition: 0.5s;
  border-radius: 8px 8px 8px 8px;
}

#contact button[type="submit"]:hover {
  background: #99d9db;
  top: 5px;
  left: 5px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
}

#contact button[type="submit"]:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

.disabled-button {
  background-color: grey !important;
}

.disabled-button:hover {
  cursor: not-allowed !important;
  box-shadow: none !important;
}

#contact input:focus,
#contact textarea:focus {
  outline: 0;
  border: 1px solid #999;
}

::-webkit-input-placeholder {
  color: #888;
}

:-moz-placeholder {
  color: #888;
}

::-moz-placeholder {
  color: #888;
}

:-ms-input-placeholder {
  color: #888;
}

.response-cards {
  margin-top: 25px;
  display: flex;
  width: 900px;
  justify-content: space-around;
}

@media (max-width: 910px) {
  .response-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 850px;
    width: 100%;
  }
}

.card-important {
  width: 230px;
  max-height: 250px;
  padding: 0 15px 25px 15px;
  background-color: #f3d8e0;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
  border-radius: 8px 8px 8px 8px;
  font-family: "Open Sans";
}

.card-not-important {
  width: 230px;
  max-height: 250px;
  padding: 0 15px 25px 15px;
  background-color: #d8f3eb;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
  border-radius: 8px 8px 8px 8px;
  font-family: "Open Sans";
}

.card-header {
  display: flex;
  justify-content: center;
  max-height: 50px;
  padding-bottom: 10px;
  border-bottom: #888;
  border-bottom-style: dotted;
}

.card-body {
  font-size: 15px;
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 210px;
}

.loader {
  width: 22px;
  height: 22px;
  border: 5px solid #FFF;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
  font-family: "Open Sans";
  visibility: hidden;
  /* Hidden by default. Visible on click */
  min-width: 250px;
  /* Set a default minimum width */
  margin-left: -125px;
  /* Divide value of min-width by 2 */
  background-color: #333;
  /* Black background color */
  color: #fff;
  /* White text color */
  text-align: center;
  /* Centered text */
  border-radius: 2px;
  /* Rounded borders */
  padding: 16px;
  /* Padding */
  position: fixed;
  /* Sit on top of the screen */
  z-index: 1;
  /* Add a z-index if needed */
  left: 50%;
  /* Center the snackbar */
  bottom: 30px;
  /* 30px from the bottom */
}

@media (max-width: 910px) {
  #snackbar {
    margin-left: -140px;
  }
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
  visibility: visible;
  /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }

  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }

  to {
    bottom: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }

  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }

  to {
    bottom: 0;
    opacity: 0;
  }
}